

/* Root Colors */
:root{
    --clr-dark: #1d1d1d;
    --clr-light: #eaeaea;
    --clr-deem-black: #181a2f;
    --clr-input: rgb(75, 73, 73);
    --clr-red-main: linear-gradient(rgba(208, 24, 24, 0.7), rgba(213, 16, 16, 0.9));
    --clr-light-main: #fff;
  }
  body{
    background: var(--clr-input);
  }
.container{
    margin: 10px 40px;
    margin-bottom: 100px;

}
@media screen and (min-width: 0) and (max-width: 750px) {
    .container{
        margin: 10px 10px;
    }
}
.menu{
    display: flex;
    justify-content: space-between;
}
#userAvatar{
    border: 4px solid var(--clr-deem-black);
    cursor: pointer;
    box-shadow: 0 0 5px var(--clr-deem-black);
}
.logo{
    display: flex;
}
.user h2{
    margin-left: 12px;
    margin-top: 12px;
    font-weight: 800;
    color: var(--clr-light-main);
}
.Add button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: var(--clr-light-main);
    background: var(--clr-red-main);
    display: flex;
    justify-content: center;
    border: none;
    box-shadow: 0 0.39px 5px var(--clr-light);
    cursor: pointer;
}
.Add button i{
    font-size: 20px;
    margin-top: 12px;
}
#searchInput{
    width: 100%;
    padding: 8px 25px;
    border-radius: 25px;
    border: none;
    outline: none;
    background: var(--clr-dark);
    border: 4px solid var(--clr-dark);
    /* box-shadow: 0 0.29px 10px var(--clr-light); */
    color: var(--clr-light-main);
}
::placeholder{
    font-weight: bold;
    color: var(--clr-light)
}
.search{
    margin: 15px 0;
}
/* Add New User box */
.add-user{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  filter: blur(50%);
  visibility: hidden;
  /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 999; /* Always on top */
}
.add-user.show{
    visibility: visible;
}
.add-user.hide{
    visibility: hidden;
}
.hideInterface{
    visibility: hidden;
}
.user-add-interface{
    background: var(--clr-light-main);
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 700px;
    width: 90vw;
    /* text-align: center; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;

    /* text-align: left; */
}
.closeBox{
    text-align: center;
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
}
.closeBox button{
    width: 30vw;
    padding: 10px;
    border-radius: 45px;
    border: none;
    background: var(--clr-light);
    font-weight: bold;
    cursor: pointer;

}
.add-user-chat, .add-user-contact{
    display: flex;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 15px;
    padding: 10px 5px;
}
.add-user-chat:hover, .add-user-contact:hover{
    background: var(--clr-dark);
    color: var(--clr-light-main);
}
.add-user-text, .add-user-user-txt{
    margin-left: 25px;
}
/* Contacts */
.contacts{
    margin-bottom: 100px;
}
.user-card{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.user-profile{
    color: var(--clr-light-main);
}
.user-profile img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 4px solid var(--clr-deem-black);
    box-shadow: 0 0 10px var(--clr-deem-black);
}
.user-profile{
    display: flex;
}
.user-infos{
    margin-left: 15px;
    margin-top: 13px;
}
.user-infos small{
    color: var(--clr-light);
}
.user button{
    color: #ea747b;
    background: transparent;
    border: none;
    font-weight: bold;
}
#msg-indicator{
    background: var(--clr-red-main);
    color: var(--clr-light-main);
    padding: 3px 6px;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--clr-deem-black);
}
.contactsCard{
    display: grid;
    grid-template-columns: auto;
    row-gap: 15px;
}
/* Bottom Navs for the bottom navigations */
.bottomNavs{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--clr-dark);
    box-shadow: 0 0 20px var(--clr-dark);
    border-radius: 40px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px 0;
}
.bottom-contents{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.bottom-contents > div{
    color: var(--clr-light);
    text-align: center;
}

::selection{
    background: var(--clr-red-main);

}

.active, #active{
    color: #ea747b;
    font-weight: bold;
}
.bottom-contents > div button{
    background: #333131;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 50px var(--clr-deem-black);
    padding: 8px;
    border-radius: 50%;
}
.bottom-contents > div button i{
    font-size: 25px;
    color: var(--clr-light-main);
}
@media screen and (min-width: 0) and (max-width: 750px) {
    
}